In [1]:
# Add our dependencies
import csv
import os
import pandas as pd
import numpy as py

In [2]:
# Read in CSV file and print as a DataFrame
highestgrossers_original_df = pd.read_csv('Resources/HighestGrossers.csv')
highestgrossers_original_df.head()

,YEAR,MOVIE,GENRE,MPAA RATING,DISTRIBUTOR,TOTAL FOR YEAR,TOTAL IN 2019 DOLLARS,TICKETS SOLD
0,1995,Batman Forever,Drama,PG-13,Warner Bros.,"$184,031,112","$387,522,978","4,23,06,002"
1,1996,Independence Day,Adventure,PG-13,20th Century Fox,"$306,169,255","$634,504,608","6,92,69,062"
2,1997,Men in Black,Adventure,PG-13,Sony Pictures,"$250,650,052","$500,207,943","5,46,07,854"
3,1998,Titanic,Adventure,PG-13,Paramount Pictures,"$443,319,081","$865,842,808","9,45,24,324"
4,1999,Star Wars Ep. I: The Phantom Menace,Adventure,PG,20th Century Fox,"$430,443,350","$776,153,749","8,47,32,942"

In [3]:
highestgrossers_original_df.tail()

,YEAR,MOVIE,GENRE,MPAA RATING,DISTRIBUTOR,TOTAL FOR YEAR,TOTAL IN 2019 DOLLARS,TICKETS SOLD
22,2017,Star Wars Ep. VIII: The Last Jedi,Action,PG-13,Walt Disney,"$517,218,368","$528,173,936","5,76,60,910"
23,2018,Black Panther,Action,PG-13,Walt Disney,"$700,059,566","$703,901,821","7,68,45,177"
24,2019,Avengers: Endgame,NaN,PG-13,Walt Disney,"$858,373,000","$858,373,002","9,37,08,843"
25,2020,Bad Boys For Life,NaN,R,Sony Pictures,"$204,417,855","$204,417,848","2,23,16,359"
26,2021,Shang-Chi and the Legend of the Ten Rings,NaN,PG-13,Walt Disney,"$224,226,704","$224,226,704","2,44,78,897"

In [4]:
highestgrossers_clean_df = highestgrossers_original_df

In [5]:
highestgrossers_clean_df.tail()

,YEAR,MOVIE,GENRE,MPAA RATING,DISTRIBUTOR,TOTAL FOR YEAR,TOTAL IN 2019 DOLLARS,TICKETS SOLD
22,2017,Star Wars Ep. VIII: The Last Jedi,Action,PG-13,Walt Disney,"$517,218,368","$528,173,936","5,76,60,910"
23,2018,Black Panther,Action,PG-13,Walt Disney,"$700,059,566","$703,901,821","7,68,45,177"
24,2019,Avengers: Endgame,NaN,PG-13,Walt Disney,"$858,373,000","$858,373,002","9,37,08,843"
25,2020,Bad Boys For Life,NaN,R,Sony Pictures,"$204,417,855","$204,417,848","2,23,16,359"
26,2021,Shang-Chi and the Legend of the Ten Rings,NaN,PG-13,Walt Disney,"$224,226,704","$224,226,704","2,44,78,897"

In [6]:
highestgrossers_clean_df.fillna("Action", inplace=True)

In [7]:
highestgrossers_clean_df.tail()

,YEAR,MOVIE,GENRE,MPAA RATING,DISTRIBUTOR,TOTAL FOR YEAR,TOTAL IN 2019 DOLLARS,TICKETS SOLD
22,2017,Star Wars Ep. VIII: The Last Jedi,Action,PG-13,Walt Disney,"$517,218,368","$528,173,936","5,76,60,910"
23,2018,Black Panther,Action,PG-13,Walt Disney,"$700,059,566","$703,901,821","7,68,45,177"
24,2019,Avengers: Endgame,Action,PG-13,Walt Disney,"$858,373,000","$858,373,002","9,37,08,843"
25,2020,Bad Boys For Life,Action,R,Sony Pictures,"$204,417,855","$204,417,848","2,23,16,359"
26,2021,Shang-Chi and the Legend of the Ten Rings,Action,PG-13,Walt Disney,"$224,226,704","$224,226,704","2,44,78,897"

In [8]:
highestgrossers_clean_df.head()

,YEAR,MOVIE,GENRE,MPAA RATING,DISTRIBUTOR,TOTAL FOR YEAR,TOTAL IN 2019 DOLLARS,TICKETS SOLD
0,1995,Batman Forever,Drama,PG-13,Warner Bros.,"$184,031,112","$387,522,978","4,23,06,002"
1,1996,Independence Day,Adventure,PG-13,20th Century Fox,"$306,169,255","$634,504,608","6,92,69,062"
2,1997,Men in Black,Adventure,PG-13,Sony Pictures,"$250,650,052","$500,207,943","5,46,07,854"
3,1998,Titanic,Adventure,PG-13,Paramount Pictures,"$443,319,081","$865,842,808","9,45,24,324"
4,1999,Star Wars Ep. I: The Phantom Menace,Adventure,PG,20th Century Fox,"$430,443,350","$776,153,749","8,47,32,942"

In [9]:
highestgrossers_clean_df.dtypes

YEAR                      int64
MOVIE                    object
GENRE                    object
MPAA RATING              object
DISTRIBUTOR              object
TOTAL FOR YEAR           object
TOTAL IN 2019 DOLLARS    object
TICKETS SOLD             object
dtype: object

In [10]:
col_to_check= ["TICKETS SOLD"]

In [11]:
highestgrossers_clean_df[col_to_check] = highestgrossers_clean_df[col_to_check].replace({",": ""}, regex=True)

In [12]:
highestgrossers_clean_df[col_to_check]

   TICKETS SOLD
0      42306002
1      69269062
2      54607854
3      94524324
4      84732942
5      47006948
6      53074988
7      69484746
8      56337374
9      71050925
10     59324582
11     64628368
12     48914288
13     73955652
14     53614916
15     52598844
16     48046812
17     78311295
18     50306552
19     40765637
20     88043765
21     56219140
22     57660910
23     76845177
24     93708843
25     22316359
26     24478897

In [13]:
cols_to_check= ["TOTAL FOR YEAR", "TOTAL IN 2019 DOLLARS"]

In [14]:
highestgrossers_clean_df[cols_to_check] = highestgrossers_clean_df[cols_to_check].replace({r'\$': ''}, regex=True)

In [15]:
highestgrossers_clean_df[cols_to_check] = highestgrossers_clean_df[cols_to_check].replace({',': ''}, regex=True)

In [16]:
highestgrossers_clean_df[cols_to_check]

   TOTAL FOR YEAR TOTAL IN 2019 DOLLARS
0       184031112             387522978
1       306169255             634504608
2       250650052             500207943
3       443319081             865842808
4       430443350             776153749
5       253367455             430583644
6       300404434             486166890
7       403706375             636480273
8       339714367             516050346
9       441226247             650826473
10      380270577             543413171
11      423315812             591995851
12      336530303             448054878
13      531001578             677433772
14      402111870             491112631
15      415004880             481805411
16      381011219             440108798
17      623357910             717331462
18      408992272             460808016
19      333055258             373413235
20      742208942             806480887
21      486295561             514967322
22      517218368             528173936
23      700059566             703901821
24      858373000             858373002
25      204417855             204417848
26      224226704             224226704

In [17]:
highestgrossers_clean_df

,YEAR,MOVIE,GENRE,MPAA RATING,DISTRIBUTOR,TOTAL FOR YEAR,TOTAL IN 2019 DOLLARS,TICKETS SOLD
0,1995,Batman Forever,Drama,PG-13,Warner Bros.,184031112,387522978,42306002
1,1996,Independence Day,Adventure,PG-13,20th Century Fox,306169255,634504608,69269062
2,1997,Men in Black,Adventure,PG-13,Sony Pictures,250650052,500207943,54607854
3,1998,Titanic,Adventure,PG-13,Paramount Pictures,443319081,865842808,94524324
4,1999,Star Wars Ep. I: The Phantom Menace,Adventure,PG,20th Century Fox,430443350,776153749,84732942
5,2000,How the Grinch Stole Christmas,Adventure,PG,Universal,253367455,430583644,47006948
6,2001,Harry Potter and the Sorcerer’s Stone,Adventure,PG,Warner Bros.,300404434,486166890,53074988
7,2002,Spider-Man,Adventure,PG-13,Sony Pictures,403706375,636480273,69484746
8,2003,Finding Nemo,Adventure,G,Walt Disney,339714367,516050346,56337374
9,2004,Shrek 2,Adventure,PG,Dreamworks SKG,441226247,650826473,71050925
10,2005,Star Wars Ep. III: Revenge of the Sith,Action,PG-13,20th Century Fox,380270577,543413171,59324582
11,2006,Pirates of the Caribbean: Dead Man’s Chest,Action,PG-13,Walt Disney,423315812,591995851,64628368
12,2007,Spider-Man 3,Adventure,PG-13,Sony Pictures,336530303,448054878,48914288
13,2008,The Dark Knight,Adventure,PG-13,Warner Bros.,531001578,677433772,73955652
14,2009,Transformers: Revenge of the Fallen,Action,PG-13,Paramount Pictures,402111870,491112631,53614916
15,2010,Toy Story 3,Action,G,Walt Disney,415004880,481805411,52598844
16,2011,Harry Potter and the Deathly Hallows: Part II,Action,PG-13,Warner Bros.,381011219,440108798,48046812
17,2012,The Avengers,Adventure,PG-13,Walt Disney,623357910,717331462,78311295
18,2013,Iron Man 3,Adventure,PG-13,Walt Disney,408992272,460808016,50306552
19,2014,Guardians of the Galaxy,Adventure,PG-13,Walt Disney,333055258,373413235,40765637
20,2015,Star Wars Ep. VII: The Force Awakens,Action,PG-13,Walt Disney,742208942,806480887,88043765
21,2016,Finding Dory,Action,PG,Walt Disney,486295561,514967322,56219140
22,2017,Star Wars Ep. VIII: The Last Jedi,Action,PG-13,Walt Disney,517218368,528173936,57660910
23,2018,Black Panther,Action,PG-13,Walt Disney,700059566,703901821,76845177
24,2019,Avengers: Endgame,Action,PG-13,Walt Disney,858373000,858373002,93708843
25,2020,Bad Boys For Life,Action,R,Sony Pictures,204417855,204417848,22316359
26,2021,Shang-Chi and the Legend of the Ten Rings,Action,PG-13,Walt Disney,224226704,224226704,24478897

In [18]:
convert_dict = {"TOTAL FOR YEAR": float,
               "TOTAL IN 2019 DOLLARS": float,
               "TICKETS SOLD": float}

In [19]:
highestgrossers_clean_df = highestgrossers_clean_df.astype(convert_dict)

In [20]:
highestgrossers_clean_df.dtypes

YEAR                       int64
MOVIE                     object
GENRE                     object
MPAA RATING               object
DISTRIBUTOR               object
TOTAL FOR YEAR           float64
TOTAL IN 2019 DOLLARS    float64
TICKETS SOLD             float64
dtype: object

In [22]:
# Export to CSV
highestgrossers_clean_df.to_csv("Resources/HighestGrossers_Clean.csv")